.g-app-layout-container  {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}

.g-dashboard-layout-container {
    @extend .g-app-layout-container;
    display: flex;
    .g-dashboard-main {
        padding: 0 1.75rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        .g-dashboard-content-section {
            background-color: rgb(245, 245, 247);
            margin: 8px 0 40px;
            padding: 24px;
            border-radius: 12px;
            overflow-y: auto;
            overflow-x: auto;
            flex: 1;
        }
    }
}


.g-toaster-container {
    .go2072408551 {
        color: #141522;
        padding: 0 10px;
        max-width: 400px;
        width: 100%;

        .go3958317564 {
            margin: 4px;
            width: 100%;

            .g-toaster-content {
                width: 100%;
                display: flex;
                align-items: center;
                gap:4px;
                justify-content: center;

                .g-toaster-message {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                }
            }
        }
    }
}