.g-dashboard-panel {
    padding: 0 1.75rem;
    width: 250px;
    margin-top: 8px;
    margin-bottom: 40px;

    .g-dashboard-panel-content {
        flex: 1;
        height: 100%;
        padding: 8px 0;
        width: 100%;
        background-color: rgb(245, 245, 247);
        border-radius: 12px;
        overflow-y: auto;
        .g-dashboard-list-item {
            display: flex;
            align-items: center;
            justify-self: center;
            margin: 0 16px 20px;
            padding: 8px;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
            font-weight: 600;
            gap: 12px;
            border-radius: 12px;
            color: rgb(20, 21, 34);
        }

        .g-dashboard-list-item.active {
            background-color: #5488c7;
            color: #fff;

            svg {
                color: #fff!important;
            }
        }

        .g-dashboard-list-item:hover {
            background-color: #5488c7;
            color: #fff;

            svg {
                color: #fff!important;
            }
        }
    }
}   