.g-dashboard-panel {
    padding: 0 1.75rem;
    width: 250px;
    margin-top: 8px;
    margin-bottom: 40px;

    .g-dashboard-panel-content {
        flex: 1;
        height: 100%;
        padding: 8px 0;
        width: 100%;
        background-color: rgb(245, 245, 247);
        border-radius: 12px;
        overflow-y: auto;

        .g-dashboard-panel-list {
            width: 100%;
            max-width: 360px;

            .g-dashboard-list-item {
                display: flex;
                align-items: center;
                justify-self: center;
                margin: 0 16px 20px;
                padding: 8px;
                text-decoration: none;
                font-size: 14px;
                cursor: pointer;
                font-weight: 600;
                gap: 12px;
                border-radius: 12px;
                color: rgb(20, 21, 34);

                &.active {
                    background-color: #5488c7 !important;
                    color: #fff;

                    svg {
                        color: #fff !important;
                    }
                }

                &:hover {
                    background-color: #5488c7;
                    color: #fff;

                    svg {
                        color: #fff !important;
                    }
                }

                .g-dashboard-item-icon {
                    width: 32px;
                    min-width: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .g-dashboard-item-title {
                    text-align: start;
                    flex: 1;
                    cursor: pointer;
                }
            }
        }
    }
}
