.g-management-post-section-action-button {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row !important;
    gap: 1rem;

    .g-edit-action-button {
        background: linear-gradient(45deg, rgb(216, 189, 8) 0%, #08c281 100%) !important;
        color: #fff !important;
        min-width: 0 !important;
        width: 40px;
        height: 40px;
    }

    .g-status-action-button {
        background: linear-gradient(45deg, rgba(4, 5, 29, 0.9176470588) 0%, #2b566e 100%) !important;
        color: #fff !important;
        min-width: 0 !important;
        width: 40px;
        height: 40px;
    }

    .g-reload-action-button {
        background-color: #5488c7 !important;
        color: #fff !important;
        min-width: 0 !important;
        width: 40px;
        height: 40px;

        &:hover {
            background-color: #5488c7 !important;
            color: #fff;
        }
    }

    .g-delete-action-button {
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%) !important;
        color: #fff !important;
        min-width: 0 !important;
        width: 40px;
        height: 40px;
    }
}

.g-reload-action-button {
    background-color: #5488c7 !important;
    color: #fff !important;
    min-width: 0 !important;
    width: 40px;
    height: 40px;

    &:hover {
        background-color: #5488c7 !important;
        color: #fff;
    }
}

.g-delete-action-button {
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%) !important;
    color: #fff !important;
    min-width: 0 !important;
    width: 40px;
    height: 40px;

    &:hover {
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%) !important;
        color: #fff;
    }
}

.g-post-table-field-title {
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
        color: #5488c7;
    }
}

.g-post-table-field-category {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
