.g-reload-action-button {
    background-color: #5488c7!important;
    color: #fff!important;
    min-width: 0!important;
    width: 40px;
    height: 40px;

    :hover {
        background-color: #5488c7!important;
        color: #fff;
    }
}

.g-delete-action-button {
    background-color: rgb(255, 56, 86)!important;
    color: #fff!important;
    min-width: 0!important;
    width: 40px;
    height: 40px;
}

.g-edit-action-button {
    background-color: #3d405b!important;
    color: #fff!important;
    min-width: 0!important;
    width: 40px;
    height: 40px;
}