* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif!important;
  scrollbar-width: thin;
  scrollbar-color: #888;
}

.MuiFormHelperText-root {
  font-weight: 500!important;
}