.g-none-border-button {
    text-transform: none !important;

    &:hover {
        background-color: transparent !important;
    }
}


.g-dasboard-content-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
