.g-none-border-button {
    text-transform: none !important;

    &:hover {
        background-color: transparent !important;
    }
}


.g-dasbhoard-content-grid {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

.g-dashboard-content-grid-no-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
