.g-header-section {
    width: 100%;
    height: 60px;
    position: sticky;
    padding: 1rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 0;
    z-index: 1000;
    background-color: #fff;

    .g-header-main-section { 
        margin: 0 3.5rem 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        gap: 5rem;
        .g-header-main-left-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .g-header-main-left-navbar {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                .g-header-main-left-navbar-item {
                    font-size: 13px;
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    color: #9b9b9b;
                    font-weight: 600;

                    &:hover {
                        color: #0b1a33;
                    }
                }

                .g-header-main-left-navbar-item.active {
                    color: #0b1a33;
                }
            }
        }

        .g-header-main-right-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            gap: 4rem;
            .g-header-main-right-action {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                gap: 20px;
                .g-header-main-right-link-auth {
                    font-size: 13px;
                    text-decoration: none;
                    color: #5488c7;
                    font-weight: 600;
                    gap: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        color: #76a0d2;
                    }
                }
            }
        }
    }
}

.g-dashboard-header-section {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    .g-dashboard-header-searchbox {
        width: 100%;
        display: flex;
        flex: 1;
        .g-searchbox-input-group {
            width: 100%;
            display: flex;
            justify-content: center;
            .g-searchbox-input {
                flex: 1;
                max-width: 500px;
                min-width: 180px;
            }
        }
    }
    .g-dashboard-header-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 240px;
    }
}