.g-icon-button {
    position: relative;
    display: inline-block;
    padding: 0.5rem!important;
    min-width: 2rem !important;
    margin-left: 0!important;
    cursor: pointer;

    &:hover {
        background-color: transparent!important;
    }

    .g-rotate {
        animation: rotate 1s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
