.g-icon-button {
    position: relative;
    display: inline-block;
    padding: .5rem!important;
    cursor: pointer;

    .g-rotate {
        animation: rotate 1s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}