@import "../../styles/common.scss";
.g-auth-section {
    margin: 0 auto;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    .g-auth-section-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 0 -1rem;
        justify-content: center;
        gap: 1rem;

        .g-login-section-form {
            max-width: 28.5rem;
            width: -webkit-fill-available;
            height: auto;
            box-sizing: border-box;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            .g-login-section-form-label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                margin-bottom: 1rem;
                .g-login-section-label {
                    font-size: 40px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $gray-color;
                    padding: 0;
                }

                .g-login-section-label::first-letter {
                    text-decoration: underline;
                    color: $primary-color;
                }
            }

            .g-login-section-form-description-label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                margin-bottom: 1rem;
                .g-login-section-description-label {
                    padding-top: 0;
                    font-size: 20px;
                    color: #303133;
                }
            }

            .g-login-section-form-input-group {
                display: flex;
                flex-direction: column;
                width: 100%;

                .g-form-outline-textfield {
                    width: 100%;
                    padding: 0;
                    height: 36px;
                    margin-bottom: 30px;

                    .g-login-section-input-item {
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding: 0;
                        display: flex;
                        font-size: 1rem;
                        border: 1px solid #dcdfe6;
                        border-radius: 4px;

                        .g-password-start-adornment {
                            display: flex;
                            align-items: center;
                            align-items: center;
                            padding-left: 1rem;
                            color: #909399;
                        }

                        .g-password-end-adornment {
                            display: flex;
                            align-items: center;
                            align-items: center;
                            margin-right: 0.75rem;
                            color: #909399;
                        }

                        input {
                            height: 100%;
                            padding: 0;
                            letter-spacing: 0;
                            font-size: 13px;
                            border-radius: 4px;
                            &::placeholder {
                                font-size: 13px;
                            }
                        }
                    }

                    .g-input-error {
                        border: 1px solid #e68080 !important;

                        &:focus {
                            border: 1px solid #d25454 !important;
                        }
                    }
                }

                .g-login-button {
                    background-color: #409eff;
                    text-transform: capitalize !important;
                    font-size: 13px;
                    height: 36px;
                }
            }

            .g-login-section-form-action {
                margin: 0.5rem 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .g-forgot-password-action {
                    font-size: 12.8px;
                    cursor: pointer;
                    color: #5488c7;

                    &:hover {
                        text-decoration: underline;
                        color: #409eff;
                    }
                }
            }
        }

        .g-register-section-form {
            max-width: 30rem;
            width: -webkit-fill-available;
            height: auto;
            box-sizing: border-box;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            .g-register-section-form-description-label {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 12px;
                .g-register-section-description-label {
                    font-weight: 400 !important;
                    font-size: 1.375rem;
                }
            }

            .g-register-section-form-description-content {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                margin-bottom: 12px;
                .g-register-section-description-content {
                    font-size: 13px;
                    text-wrap: wrap;
                    line-height: 1.2rem;
                    letter-spacing: 0.25px !important;
                }
            }

            .g-register-section-form-input-group {
                display: flex;
                flex-direction: column;
                width: 100%;

                .g-register-section-form-input-row {
                    margin-bottom: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;
                    padding: 0;
                    height: auto;
                    .g-form-outline-textfield {
                        flex: 1;
                        width: 100%;
                        height: 40px;

                        .g-register-section-input-row-item {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            padding: 0;
                            display: flex;
                            font-size: 1rem;
                            border: 1px solid #dcdfe6;
                            border-radius: 4px;

                            input {
                                height: 100%;
                                padding: 0 16px;
                                letter-spacing: 0;
                                font-size: 13px;
                                border-radius: 4px;
                                &::placeholder {
                                    font-size: 13px;
                                }
                            }

                            .g-password-end-adornment {
                                display: flex;
                                align-items: center;
                                align-items: center;
                                margin-right: 0.75rem;
                                color: #909399;
                            }
                        }

                        .g-input-error {
                            border: 1px solid #e68080 !important;

                            &:focus {
                                border: 1px solid #d25454 !important;
                            }
                        }
                    }
                }

                .g-checkbox-policy {
                    height: 24px;
                    width: 100%;

                    .g-register-term-condition {
                        text-wrap: wrap;
                        line-height: 1.5rem;

                        .g-checkbox-policy-label {
                            font-size: 13px;

                            &:hover {
                                color: #409eff;
                                cursor: text;
                            }
                        }

                        a {
                            font-size: 13px;
                        }
                    }
                }

                .g-register-button {
                    background-color: #409eff;
                    text-transform: capitalize;
                    font-size: 13px;
                    height: 36px;
                    margin-bottom: 1rem;
                }
            }
        }

        @media screen and (max-width: 576px) {
            .g-login-section-form {
                margin: 0 1rem;
                box-shadow: none;

                .g-login-section-form-description-label {
                    .g-login-section-description-label {
                        padding-top: 0;
                        font-size: 18px;
                        color: #303133;
                    }
                }
            }

            .g-register-section-form {
                margin: 0 1rem;
                box-shadow: none;
                padding: 0.5rem;
                .g-register-section-form-description-label {

                    .g-register-section-description-label {
                        font-weight: 400 !important;
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}
